<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/css/styles.css" rel="stylesheet">
    <title>Title</title>
</head>
<body class="container-bg">
<div class="home">
    <h1>World Database</h1>
    <h4>made by Space Cows</h4>

    <div class="browse">
        <p>Here you can view our APIs endpoints for cities, countries and languages. </p>

        <div class="buttonContainer">
            <div class="fakeButton"><a href="/countries">Countries</a></div>
            <div class="fakeButton"><a href="/languages">Languages</a></div>
            <div class="fakeButton"><a href="/cities">Cities</a></div>
        </div>
    </div>

</div>
</body>
</html>
