<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Country</title>
    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.3/dist/sandstone/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav th:replace="~{fragments/navbar :: navbar}"></nav>
<div class="container mt-4">
    <h2 th:text="'Update ' + ${countryToEdit.name} + ', ' + ${countryToEdit.code}">Update Country</h2>
    <form th:action="@{/countries/update}" method="post" th:object="${countryToEdit}">
        <input type="hidden" id="countryCode" name="countryCode" th:field="${countryToEdit.code}">

        <div class="mb-3">
            <label for="name" class="form-label">Country Name:</label>
            <input type="text" id="name" name="name" class="form-control" required="required" th:value="${countryToEdit.name}">
            <span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        </div>

        <div class="mb-3">
            <label for="continent" class="form-label">Continent:</label>
            <select id="continent" name="continent" class="form-select" th:default="Asia">
                <option th:each="continent : ${continents}" th:value="${continent}" th:text="${continent}"></option>
            </select>
            <span class="text-danger" th:if="${#fields.hasErrors('continent')}" th:errors="*{continent}"></span>
        </div>

        <div class="mb-3">
            <label for="region" class="form-label">Region:</label>
            <input type="text" id="region" name="region" class="form-control" required="required" th:value="${countryToEdit.region}">
            <span class="text-danger" th:if="${#fields.hasErrors('region')}" th:errors="*{region}"></span>
        </div>

        <div class="mb-3">
            <label for="surfaceArea" class="form-label">Surface Area:</label>
            <input type="number" id="surfaceArea" name="surfaceArea" class="form-control" required="required" th:value="${countryToEdit.surfaceArea}">
            <span class="text-danger" th:if="${#fields.hasErrors('surfaceArea')}" th:errors="*{surfaceArea}"></span>
        </div>

        <div class="mb-3">
            <label for="indepYear" class="form-label">Independence Year:</label>
            <input type="number" id="indepYear" name="indepYear" class="form-control" th:value="${countryToEdit.indepYear}">
            <span class="text-danger" th:if="${#fields.hasErrors('indepYear')}" th:errors="*{indepYear}"></span>
        </div>

        <div class="mb-3">
            <label for="population" class="form-label">Population:</label>
            <input type="number" id="population" name="population" class="form-control" required="required" th:value="${countryToEdit.population}">
            <span class="text-danger" th:if="${#fields.hasErrors('population')}" th:errors="*{population}"></span>
        </div>

        <div class="mb-3">
            <label for="lifeExpectancy" class="form-label">Life Expectancy:</label>
            <input type="number" id="lifeExpectancy" name="lifeExpectancy" class="form-control" th:value="${countryToEdit.lifeExpectancy}">
            <span class="text-danger" th:if="${#fields.hasErrors('lifeExpectancy')}" th:errors="*{lifeExpectancy}"></span>
        </div>

        <div class="mb-3">
            <label for="gnp" class="form-label">GNP:</label>
            <input type="number" id="gnp" name="gnp" class="form-control" th:value="${countryToEdit.gnp}">
            <span class="text-danger" th:if="${#fields.hasErrors('gnp')}" th:errors="*{gnp}"></span>
        </div>

        <div class="mb-3">
            <label for="GNPOld" class="form-label">GNP Old:</label>
            <input type="text" id="GNPOld" name="GNPOld" class="form-control" th:value="${countryToEdit.getGNPOld()}">
            <span class="text-danger" th:if="${#fields.hasErrors('GNPOld')}" th:errors="*{GNPOld}"></span>
        </div>

        <div class="mb-3">
            <label for="localName" class="form-label">Local Name:</label>
            <input type="text" id="localName" name="localName" class="form-control" required="required" th:value="${countryToEdit.localName}">
            <span class="text-danger" th:if="${#fields.hasErrors('localName')}" th:errors="*{localName}"></span>
        </div>

        <div class="mb-3">
            <label for="governmentForm" class="form-label">Government Form:</label>
            <input type="text" id="governmentForm" name="governmentForm" class="form-control" required="required" th:value="${countryToEdit.governmentForm}">
            <span class="text-danger" th:if="${#fields.hasErrors('governmentForm')}" th:errors="*{governmentForm}"></span>
        </div>

        <div class="mb-3">
            <label for="headOfState" class="form-label">Head of State:</label>
            <input type="text" id="headOfState" name="headOfState" class="form-control" th:value="${countryToEdit.headOfState}">
            <span class="text-danger" th:if="${#fields.hasErrors('headOfState')}" th:errors="*{headOfState}"></span>
        </div>

        <div class="mb-3">
            <label for="capital" class="form-label">Capital City ID:</label>
            <input type="number" id="capital" name="capital" class="form-control" th:value="${countryToEdit.capital}">
            <span class="text-danger" th:if="${#fields.hasErrors('capital')}" th:errors="*{capital}"></span>
        </div>

        <div class="mb-3">
            <label for="code2" class="form-label">Short Country Code:</label>
            <input type="text" id="code2" name="code2" class="form-control" required="required" th:value="${countryToEdit.code2}">
            <span class="text-danger" th:if="${#fields.hasErrors('code2')}" th:errors="*{code2}"></span>
        </div>

        <button type="submit" class="btn btn-primary">Update Country</button>
    </form>
</div>
</body>
</html>
