<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Language</title>
    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.3/dist/sandstone/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/styles.scss" rel="stylesheet">
</head>
<body>
<nav th:replace="~{fragments/navbar :: navbar}"></nav>

<div class="container mt-4">
    <h2>Create Language</h2>
    <form th:action="@{/languages/create}" method="post">
        <div class="mb-3">
            <label for="language" class="form-label">Language:</label>
            <input type="text" name="language" id="language" class="form-control">
        </div>
        <div class="mb-3">
            <label for="percentage" class="form-label">Percentage of speakers:</label>
            <input type="text" name="percentage" id="percentage" class="form-control">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" name="isOfficial" id="isOfficial" class="form-check-input" value="T">
            <label for="isOfficial" class="form-check-label">Is Official</label>
        </div>
        <div class="mb-3">
            <label for="code" class="form-label">Country Code:</label>
            <select id="code" name="code" class="form-select">
                <option th:each="code : ${countryCodes}" th:value="${code}" th:text="${code}"></option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Create Language</button>
    </form>
</div>
<footer th:replace="~{fragments/footers.html :: personal}"></footer>
</body>
</html>
