<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.3/dist/sandstone/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
    <div class="container-fluid mx-3">
        <a class="navbar-brand" href="/welcome">Audumbla World JPA</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/countries">Countries</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/languages">Languages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cities">Cities</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Switch Accounts</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script>
    $(document).ready(function() {
        let currentPath = window.location.pathname;
        $('.nav-link').each(function() {
            if ($(this).attr('href') === currentPath) {
                $(this).addClass('active');
            }
        });
    });
</script>
</body>
</html>
